minibook-2nd-data
delete
*.json
apikey.py
__pycache__
Untitled.ipynb
__pycache__
apikey.py
censuscodes.csv
censuscodes.json
censuscodes_e.json
censuscodes_p.json
cvpr.ipynb
cvpr2-Copy1.ipynb
cvpr2-Copy2.ipynb
cvpr2.ipynb
ed.json
gin.json
gini.ipynb
housing-features-2.json
housing-features.json
census01.html
